body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, black, green);
    font-family: arial;
    color: white;
}

.titulo {
    
    justify-content: center;
    height: 100px;
    width: auto;
    background-color: rgb(91, 180, 136);

}
h1 {
    margin-left: 50px;
    color: rgb(255, 255, 255);
}

.box {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.box-form {

    align-self: center;
    margin: 100px;
    border-radius: 20px;
    border-style: solid;
    background: linear-gradient( rgb(35, 80, 35), black);
    max-width: 400px;
    height: 600px;

}

.formulario {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;

}

#cpf {

    margin: 5px;
    border-radius: 15px;
    border-style: none;
    padding: 2px;

}


#nome {

    margin: 5px;
    border-radius: 15px;
    border-style: none;
    padding: 2px;

}


#endereco {

    margin: 5px;
    border-radius: 15px;
    border-style: none;
    padding: 2px;

}


#senhaUsuario {

    margin: 5px;
    border-radius: 15px;
    border-style: none;
    padding: 2px;

}


#email {

    margin: 5px;
    border-radius: 15px;
    border-style: none;
    padding: 2px;

}


#tipoCadastro {

    margin: 5px;
    border-radius: 15px;
    border-style: none;
    padding: 2px;

}


#telefone{

    margin: 5px;
    border-radius: 15px;
    border-style: none;
    padding: 2px;
    
}

a{
    color: white;
}


#enviar {

    margin-left: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;

}

